
#product_search img{
    /* width: 210px; */
    max-height: 200px;
    object-fit: contain;
}

.card{
    height: 100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
/* for BUYER_CART pictures */
#shoppingcart img{
    width: 150px;
    max-height : 150px;
    object-fit: contain;
}

#shoppingcart input{
    margin-left: 3px;
    /* padding-left: 4px; */
}
/* for BUYER_CART want to select items to check out */
#shoppingcart input[type = "checkbox"]:checked{
    background-color: black; 
}

#shoppingcart input[type = "checkbox"]{
    width: 20px;
    height: 20px;
}

/* for BROWSE THRIFT SHOPS IMAGES */
#Browse_TS img{
    max-width: 300px;
    max-height: 250px;
    object-fit: contain;
}

#explore_TS img{
    width: 400px;
    max-height : 400px;
    object-fit: contain;
}

#explore_TS iframe{
    width: 400px;
    max-height : 400px;
    object-fit: contain;
}


/* submit next line
input[type = submit]{
    display:block;
} */
/* make all black and not underlined */
a:link { text-decoration: none; color: black}


a:visited { text-decoration: none; color: black}


a:hover { text-decoration: none; color: black}


a:active { text-decoration: none; color: black}