/* .thumbnail img {
    height:100px;
    width:100%;
} */
#product_search .images img{
    height:300px;
    width:100%;
}

.card{
    height: 100%;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/* make all black and not underlined */
a:link { text-decoration: none; color: black}


a:visited { text-decoration: none; color: black}


a:hover { text-decoration: none; color: black}


a:active { text-decoration: none; color: black}